@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    background-color: #14213d;
    height: 120vh;
}

.flex {
    display: flex;
}

h1 {
    font-size: 5rem;
    font-family: Montserrat;
}

a,
p {
    font-size: 2rem;
    font-family: poppins;
    color: #fca311;
    text-decoration: none;
}

li {
    list-style: none;
    text-decoration: none;
}

.brand {
    margin-left: 20px;
    width: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-right: 130px;
    color: #fca311;
    letter-spacing: 0.1rem;
}

/* nav */
nav {
    flex-direction: row;
    position: fixed;
    gap: 20px;
    width: 100%;
    height: 70px;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    z-index: 20;
}

nav a {
    font-size: 1.3rem;
    color: #14213d;
}

/* aside */
.borders{
    top:80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
aside {
    top: 70px;
    width: 200px;
    height: 50px;
    position: fixed;
    left: -150px;
    background-color: whitesmoke;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    transition: 0.2s  ease-in;
}
.expanding-icon{
    position: absolute;
    right:20px;
    top:15px;
    cursor: pointer;
}
.cross-icon{
    position: absolute;
    right: 10px;
    top:10px;
    opacity: 0.8;
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg);
}

.aside-elements {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    gap: 10px;
}

aside a {
    font-size: 1.5rem;
    opacity: 0.7;
    transition: 0.3s;
}

aside a:hover {
    opacity: 1;
}

/* album */

.album-container {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 70px;
    /* left: 300px; */
    background: rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.album {
    margin: 70px 100px;
    width: 220px;
    height: 300px;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    transition: 0.5s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.album:hover {
    background: rgba(250, 250, 250, 0.1);
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 32px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box {
    margin-top: 10px;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-position: center;
}

.album h2 {
    margin-top: 10px;
    color: white;
    font-family: poppins;
    font-size: 1.2rem;
    opacity: 0.8;
}

.album p {
    margin-top: 5px;
    font-size: 0.7rem;
    padding-inline: 20px;
    text-align: center;
    opacity: 0.7;
}

/* images */
.album-1 .box {
    background-image: url(images/pexels-andrea-piacquadio-3771813.jpg);
    background-position: center;
}

.album-2 .box {
    background-image: url(images/pexels-andrea-piacquadio-3831187.jpg);
    background-size: 100%;
    background-position: center;
}

.album-3 .box {
    background-image: url(images/3.jpg);
    background-size: 100%;
    background-position: center;
}

.album-4 .box {
    background-image: url(images/4.jpg);
    background-size: 100%;
    background-position: center;
}

.album-5 .box {
    background-image: url(images/5.jpg);
    background-size: 100%;
    background-position: center;
}

.album-6 .box {
    background-image: url(images/6.jpg);
    background-size: 100%;
    background-position: center;
}

.album-7 .box {
    background-image: url(images/7.jpg);
    background-size: 100%;
    background-position: center;
}

.album-8 .box {
    background-image: url(images/8.jpg);
    background-size: 100%;
    background-position: center;
}

/* footer */
footer {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.8);
}

.controls {
    font-size: 2rem;
    gap: 20px;
    cursor: pointer;
}

#progress-bar {
    width: 400px;
    padding: 5px;
    outline: none;
}

.play {
    transition: 0.1s;
    opacity: 0.8;
}

.play:hover {
    transform: scale(0.9);
    opacity: 1;
}

.pause {
    opacity: 0.8;
}

.pause:hover {
    transform: scale(0.9);
    opacity: 1;
}

.forw-song {
    opacity: 0.8;
}

.forw-song:hover {
    transform: scale(0.9);
    opacity: 1;
}

.back-song {
    opacity: 0.8;
}

.back-song:hover {
    transform: scale(0.9);
    opacity: 1;
}

/* song info */
.song-info {
    position: absolute;
    left: 20%;
    width: 300px;
}

.song-info img {
    width: 70px;
    height: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.span-song-name {
    margin-left: 10px;
    color: white;
    font-size: 1rem;
    font-family: poppins;
}

.box {
    position: relative;
}

.box i {
    position: absolute;
    bottom: 5px;
    right: 5px;
}